[package]
name = "xmp_toolkit"
version = "0.4.0"
description = "Rust-language bindings for Adobe's XMP Toolkit"
license = "MIT OR Apache-2.0"
repository = "https://github.com/adobe/xmp-toolkit-rs"
documentation = "https://docs.rs/xmp_toolkit"
readme = "README.md"
authors = ["Eric Scouten <scouten@adobe.com>"]
keywords = ["xmp", "metadata"]
categories = ["api-bindings"]
edition = "2018"
rust-version = "1.54.0"
exclude = [
    "external/xmp_toolkit/docs",
    "external/xmp_toolkit/samples",
    "external/xmp_toolkit/third-party/zlib/ReadMe.txt",
    "external/xmp_toolkit/third-party/zlib/README.md",
    "external/xmp_toolkit/third-party/zlib/*.c",
    "external/xmp_toolkit/third-party/zlib/*.h",
    "external/xmp_toolkit/third-party/expat/lib",    
    "external/xmp_toolkit/XMPFilesPlugins/PDF_Handler",
]

[build-dependencies]
cc = "1.0"
fs_extra = "1.2"

[dev-dependencies]
coverage-helper = "0.1"
tempfile = "3.2"
